<!DOCTYPE html>
<html ng-app="toDo">

<head>
  <meta charset="utf-8">
  <title>ToDo</title>
  <!-- actual Angular itself -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body ng-controller="toDoCtrl">

  <form ng-submit="createToDo()">
    <input type="text" name="task" ng-model="item.text">
    <input type="date" name="dueDate" ng-model="item.dueDate">
    <input type="submit" name="submit" value="Create Task">
  </form>

  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>DueDate</th>
        <th>Finished?</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tr todo-item
      ng-repeat="item in items"
      ng-hide="hideCompleted && item.completed"
      item="item"
      delete-task="deleteTask()">
    </tr>
    <!-- </todo-item> -->


      <!-- this is in the index<td>{{ item.text }}</td>
      <td>{{ item.dueDate | date:'longDate' }}</td>
      <td>{{ item.completed }}</td>
      <td><input type="checkbox" ng-model="item.completed"></td>
      <td><button ng-click="deleteTask(item.text)">X</button></td> -->
  </table>
  <button ng-click="toggleCompleted()">{{hideCompleted ? "Show" : "Hide" }} completed items</button>
  <button ng-click="clearCompleted()">Clear Completed</button>

</body>

<!-- angular app -->
<script src="javascripts/app.js"></script>

<!-- services -->
<script src = "javascripts/services/todoService.js"></script>
<!-- <script src = "js/services/secondService.js"></script> -->

<!-- controllers -->
<script src="javascripts/controllers/todoCtrl.js"></script>
<!-- <script src = "js/controllers/SecondCtrl.js"></script> -->

<!-- directives -->
<script src="javascripts/directives/todo_item.js"></script>
<!-- <script src = "js/directives/secondDirective.js"></script> -->


</html>
